.IntroText {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.Title {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

.Description {
  text-align: center;
  font-size: 150%;
}

.Headshot {
  align-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
