<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag "pages/about"%>
</head>
<body>
  <div class="IntroText">
    <h1 class="Title">Howdy, I'm <span class="Name">Carter Markegard</span></h1>
    <h2 class="Description">
      I use science and technology to create amazing things.
    </h2>
  </div>
  <div class="Headshot">
    <%= image_tag("carter.jpg", alt: "A stock picture of a professional.") %>
  </div>
  <div>
    <h3>
      I'm a third year computer science and physics double major
      that loves to make things. I believe that all work should
      benefit humanity, and that technology is our best tool yet.
    </h3>
  </div>
</body>
</html>
