<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "pages/home"%>
</head>
<body>
  <div class="IntroText">
    <p class="Title">Howdy, I'm <span class="Name">Carter Markegard</span></p>
    <p class="Description">
      I use science and technology to create amazing things.
    </p>
  </div>
  <div class="Headshot">
    <img> <%= image_tag "headshot.jpg" %> </img>
  </div>
</body>
</html>
