<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="home.css">
</head>
<body>

  <p>Current Time : <%= Time.new.inspect %></p>
  <h1>Carter Markegard</h1>
  <p>Professional portfolio</p>

</body>
</html>
