<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag "pages/home"%>
</head>
<body>
  <div class="IntroText">
    <h1 class="Title">Howdy, I'm <span class="Name">Carter Markegard</span></h1>
    <h2 class="Description">
      I use science and technology to create amazing things.
    </h2>
  </div>
  <div class="Headshot">
    <%= image_tag("headshot.jpg", alt: "A stock picture of a professional.") %>
  </div>
</body>
</html>
