* {
    font-family: 'Abel', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Used to make footer stay on bottom */
.Container {
  position: relative;
  min-height: 100vh;
}

.Content {
  padding-bottom: 2.5rem; /* Footer height */
}

/* Pushes footer to bottom */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #e07c46;
}

.centered_name {
  color: #e6e6e6;
  letter-spacing: 4px;
  font-size: 22;
}

.centered_name a {
  color: inherit;
  text-decoration: none;
}

.tabs {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.tabs a {
  color: #e6e6e6;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
}

.tabs a:hover {
  color: #242424;
}

.tab {
  list-style: none;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #e6e6e6;
  margin: 5px;
  transition: all .3s ease;
}

@media screen and (max-width: 1000px){
  body{
    overflow-x: hidden;
  }

  .tabs {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #e07c46;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .tab {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .side_navBar_active{
    transform: translateX(0%);
  }

  @keyframes sideNavBarFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
